{% extends 'base.html' %}
{% block head %}
<style>
  #loading-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
  }

  #loading-spinner {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
  }

  .spinner {
    border: 4px solid rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    border-top: 4px solid #3498db;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
  }

  .error-navigation-container {
    display: none !important;
  }

  .form-error-message {
    display: none !important;
  }

  .w3review {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #F8EDE3;
    resize: none;
  }

  .submit-button {
    background-color: #7D6E83;
    color: white;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }

  }

  #content {
    margin-top: 0 !important;
  }

  .input-cards {

    box-shadow: 0px 0px 7px 5px rgba(0, 0, 0, 0.35);
    border-radius: 15px;
    margin-top: 50px;
    max-width: 1150px;
    padding-left: 100px;
    padding-right: 100px;
    box-sizing: border-box;
    width: 100%;
  }
</style>
{% block title %}Home{% endblock %}
{% endblock %}


{% block content %}
<div style="display: flex; align-items: center; flex-direction: column; margin-bottom: 50px;">
  <div class="w3-row-padding my-below-background-color w3-padding-64 w3-container input-cards">
    <div class="w3-content">
      <div class="w3-third w3-center">
        <i class="fa fa-video-camera w3-padding-64 w3-text-red"></i>
      </div>

      <div class="w3-twothird ">
        <h1>Summarize Video</h1>
        {% if current_user.is_authenticated %}
        <h5 class="w3-padding-32">Please upload the video that you want to summarize:</h5>
        <form method="POST" enctype="multipart/form-data" action="/upload_video">
          <div class="w3-container">
            <div class="w3-row">
              <div class="w3-col s12">
                <div class="w3-input w3-border w3-round-large">
                  <input type="file" id="customFile" name="file" accept="video/*" required="required">
                </div>
              </div>
            </div>
            <button type="submit" class="w3-button submit-button w3-padding-large w3-large w3-margin-top"
              onclick="showLoading()" disabled>Summarize</button>
            <div id="loading-overlay"></div>
            <div id="loading-spinner">
              <div class="spinner"></div>
            </div>
          </div>
          <input type="hidden" name="thumbnail" id="thumbnail" value="">
        </form>
        {% else %}
        <h5>Please login to upload video.</h5>
        {% endif %}

      </div>
    </div>
  </div>

  <!-- Second Grid -->
  <div class="w3-row-padding my-below-background-color w3-padding-64 w3-container input-cards">
    <div class="w3-content">

      <div class="w3-twothird ">
        <h1>Summarize Text</h1>

        {% if current_user.is_authenticated %}
        <form method="POST" action="/upload_text">
          <div class="w3-container">
            <h5>Please upload the text that you want to summarize:</h5>
            <label for="text"></label>
            <textarea class="w3review" name="w3review" rows="4" cols="50"></textarea>
            <button type="submit"
              class="w3-button submit-button w3-padding-large w3-large w3-margin-top">Summarize</button>
          </div>
        </form>
        {% else %}
        <h5>Please login to upload text.</h5>
        {% endif %}
      </div>

      <div class="w3-third w3-center">
        <i class="fa fa-file-text w3-padding-64 w3-text-red w3-margin-right"></i>
      </div>
    </div>
  </div>

  <!-- Third Grid -->

  <div class="w3-row-padding my-below-background-color w3-padding-64 w3-container  input-cards">
    <div class="w3-content">
      <div class="w3-third w3-center">
        <i class="fa fa-play w3-padding-64 w3-text-red"></i>
      </div>

      <div class="w3-twothird">
        <h1>Summarize Youtube Video</h1>
        {% if current_user.is_authenticated %}
        <form method="POST" action="/upload_youtube">
          <div class="w3-container">
            <h5>Please paste the link of the Youtube video that you want to summarize:</h5>
            <label for="text"></label>
            <textarea class="w3review" type="text" id="youtube_link" name="youtube_link"></textarea>
            <button type="submit"
              class="w3-button submit-button w3-padding-large w3-large w3-margin-top">Summarize</button>
          </div>
        </form>
        {% else %}
        <h5>Please login to upload text.</h5>
        {% endif %}
      </div>

    </div>
  </div>
</div>
</div>


<script>
  function showLoading()
  {
    var customFile = document.getElementById('customFile');
    if (customFile.value.length == 0)
    {
      alert("Please upload a video file!");
    } else
    {
      document.getElementById('loading-spinner').style.display = 'block';
      document.getElementById('loading-overlay').style.display = 'block';
    }


  }

  // create thumbnail of video
  var filepicker = document.getElementById('customFile');

  filepicker.addEventListener('change', function (e)
  {
    var file = e.target.files[0];
    var fileURL = URL.createObjectURL(file);
    var video = document.createElement('video');

    video.src = fileURL;
    // seek video 10 seconds in for thumbnail
    video.currentTime = 1;
    video.addEventListener('loadeddata', function ()
    {
      var canvas = document.createElement('canvas');
      // canvas.width = video.videoWidth;
      // canvas.height = video.videoHeight;
      canvas.width = 320;
      canvas.height = 180;
      var ctx = canvas.getContext('2d');
      ctx.drawImage(video, 0, 0, canvas.width, canvas.height);
      var dataURI = canvas.toDataURL('image/jpeg');
      document.getElementById('thumbnail').value = dataURI;
      //enable upload button
      document.getElementsByClassName('submit-button')[0].disabled = false;
      console.log(dataURI);

    });

  });

</script>


{% endblock %}