{% extends "base.html" %}
{% block head %}
<style>
    #content {
        padding-top: 10%;
        padding-bottom: 10%;
        padding-left: 5%;
        padding-right: 5%;
    }
</style>
{% endblock %}
{% block title %} Profile {% endblock %} {% block content %}

<div style="display: flex;
flex-direction: column;
align-items: center;" class="my-below-background-color">

    <div style="box-shadow: 0px 0px 7px 5px rgba(0, 0, 0, 0.35);
    border-radius: 15px;
    padding: 50px;">
        <h3 class="h3 cover-heading">Profil Ayarları</h1>
            <form action="/profile/update" method="POST">
                <br />
                <label for="inputName" class="sr-only">Ad*</label>
                <input type="text" style="width: 200px;" id="inputName" name="name" class="form-control mx-auto"
                    placeholder="{{ current_user.ad }}" required autofocus>
                <br />
                <label for="inputSurname" class="sr-only">Soyad*</label>
                <input type="text" style="width: 200px;" id="inputSurname" name="surname" class="form-control mx-auto"
                    placeholder="{{ current_user.soyad }}" required autofocus>
                <br />
                <label for="inputPhone" class="sr-only">Telefon Numarası</label>
                <input type="text" style="width: 200px;" id="inputPhone" name="phone" class="form-control mx-auto"
                    placeholder="{{ current_user.telefon }}" autofocus>
                <br />
                <label for="inputEmail" class="sr-only">E-Posta*</label>
                <input type="email" style="width: 200px;" id="inputEmail" name="username" class="form-control mx-auto"
                    placeholder="{{ current_user.email }}" disabled>
                <br />
                <label for="inputPassword" class="sr-only">Şifre*</label>
                <input type="password" style="width: 200px;" id="inputPassword" name="password"
                    class="form-control mx-auto" placeholder="Şifre" required>
                <br />
                <button class="btn btn-lg btn-secondary btn-block w3-margin-top" type="submit">Güncelle</button>


            </form>
    </div>
</div>
{% endblock %}