{% extends "base.html" %} {% block title %} Profile {% endblock %} {% block content %}

<div style="justify-items: center; text-align: center;" class="my-below-background-color">
    <h3 class="h3 cover-heading">Profil Ayarları</h3>
    <form action="/profile/update" method="POST">
        <br />
        <label for="inputName" class="sr-only">Ad*</label>
        <input type="text" style="width: 200px;" id="inputName" name="name" class="form-control mx-auto"
            value="{{ current_user.ad }}" required autofocus>
        <br />
        <label for="inputSurname" class="sr-only">Soyad*</label>
        <input type="text" style="width: 200px;" id="inputSurname" name="surname" class="form-control mx-auto"
            value="{{ current_user.soyad }}" required autofocus>
        <br />
        <label for="inputPhone" class="sr-only">Telefon Numarası</label>
        <input type="text" style="width: 200px;" id="inputPhone" name="phone" class="form-control mx-auto"
            value="{{ current_user.telefon }}" autofocus>
        <br />
        <label for="inputEmail" class="sr-only">E-Posta*</label>
        <input type="email" style="width: 200px;" id="inputEmail" name="username" class="form-control mx-auto"
            value="{{ current_user.email }}" required autofocus>
        <br />
        <label for="inputPassword" class="sr-only">Şifre*</label>
        <input type="password" style="width: 200px;" id="inputPassword" name="password" class="form-control mx-auto"
            placeholder="Şifre" required>
        <br />
        <button class="btn btn-lg btn-secondary btn-block w3-margin-top" type="submit">Güncelle</button>
    </form>
</div>

{% endblock %}