{% extends "base.html" %}
{% block head %}
<style>
    #content {
        padding-top: 10%;
        padding-bottom: 10%;
        padding-left: 5%;
        padding-right: 5%;
    }
</style>
{% endblock %}
{% block title %} Allergen Detector {% endblock %} {% block content %}
<div class="my-below-background-color" style="    display: flex;
flex-direction: column;
align-items: center;">
    <div style="box-shadow: 0px 0px 7px 5px rgba(0, 0, 0, 0.35);
    border-radius: 15px;
    padding: 50px;">

        <form class="form-signin" method="POST" action="/signin">
            <br />
            <h1 class="h3 mb-3 font-weight-normal text-center">Giriş Yap</h1>
            <label for="inputEmail" class="sr-only">E-Posta</label>
            <input type="" style="width: 200px;" id="inputEmail" name="username" class="form-control mx-auto"
                placeholder="E-Posta" required autofocus>
            <br />
            <label for="inputPassword" class="sr-only">Şifre</label>
            <input type="password" style="width: 200px;" id="inputPassword" name="password" class="form-control mx-auto"
                placeholder="Şifre" required>
            <br />
            <a href="/signup">Hesabınız yok mu? Kayıt Olun</a>
            <br />
            <br />
            <div style="align-items: center;display: flex;justify-content: center;">
                <button class="btn btn-lg btn-secondary btn-block" type="submit">Giriş Yap</button>
            </div>
    </div>
</div>
</form>
{% endblock %}