{% extends "base.html" %} {% block title %} Allergen Detector {% endblock %} {% block content %}
<form class="form-signin" method="POST" action="/signup">
    <!-- 
    email
    ad
    soyad
    telefon no
    şifre
    boy
    kilo
  -->

    <!-- <img class="mb-4 " src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72"> -->
    <h1 class="h3 mb-3 font-weight-normal text-center">Kayıt Ol</h1>
    <label for="inputName" class="sr-only">Ad*</label>
    <input type="" id="inputName" name="name" class="form-control w-75 mx-auto" placeholder="Ad" required autofocus>
    <br />
    <label for="inputSurname" class="sr-only">Soyad*</label>
    <input type="" id="inputSurname" name="surname" class="form-control w-75 mx-auto" placeholder="Soyad" required
        autofocus>
    <br />
    <label for="inputPhone" class="sr-only">Telefon Numarası</label>
    <input type="" id="inputPhone" name="phone" class="form-control w-75 mx-auto" placeholder="Telefon Numarası"
        autofocus>
    <br />
    <label for="inputEmail" class="sr-only">E-Posta*</label>
    <input type="email" id="inputEmail" name="username" class="form-control w-75 mx-auto" placeholder="E-Posta" required
        autofocus>
    <br />
    <label for="inputPassword" class="sr-only">Şifre*</label>
    <input type="password" id="inputPassword" name="password" class="form-control w-75 mx-auto" placeholder="Şifre"
        required>
    <br />
    <label for="inputHeight" class="sr-only">Boy</label>
    <input type="" id="inputHeight" name="height" class="form-control w-75 mx-auto" placeholder="Boy" autofocus>
    <br />
    <label for="inputWeight" class="sr-only">Kilo</label>
    <input type="" id="inputWeight" name="weight" class="form-control w-75 mx-auto" placeholder="Kilo" autofocus>



    <!-- <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="remember-me"> Beni Hatırla
        </label>
      </div> -->
    <br />
    <button class="btn btn-lg btn-secondary btn-block" type="submit">Kayıt Ol</button>
    <p class="mt-5 mb-3 text-muted">&copy; 2021-2022</p>
</form>
{% endblock %}