{% extends "base.html" %}
{% block title %}Summarize Video{% endblock %}
{% block content %}
<!-- add remove button to right corner -->
<div class="w3-display-container w3-right">
  <button onclick="window.location.href='/remove_text/{{ task_id }}'"
    class="w3-button w3-display-topright w3-red">Delete</button>
</div>
<div class="w3-row-padding my-below-background-color w3-padding-64 w3-container">
  <div class="w3-content">

    <div class="w3-center">

      <h1>Summarize Video</h1>
      <button onclick="accordion('Input')" class="w3-button w3-block w3-left-align akordiyon-buton">
        Input Text</button>
      <div id="Input" class="w3-container w3-hide akordiyon-cikti  w3-show">
        <!-- create a form and put the input text in it. It must be editable. and there must be a retry button -->
        <form method="POST" action="/retry_video/{{ task_id }}">
          <div class="w3-container">
            <label for="input_text"></label>
            <textarea class="w3review" name="input_text" rows="4" cols="50" id="input_text">Loading...</textarea>
            <button type="submit"
              class="w3-button  submit-button w3-padding-large w3-large w3-margin-top">Retry</button>
          </div>
        </form>
      </div>

      <button onclick="accordion('Output')" class="w3-button w3-block w3-left-align akordiyon-buton ">
        Summarized Text</button>
      <div id="Output" class="w3-container w3-hide akordiyon-cikti w3-show">
        <div id="result">
          <p><span>Loading...</span></p>
        </div>
      </div>

      <button onclick="accordion('Information')" class="w3-button w3-block w3-left-align akordiyon-buton">
        Information</button>
      <div id="Information" class="w3-container w3-hide akordiyon-cikti  w3-show">
        <table class="w3-table">
          <tr>
            <td>Start Date</td>
            <td id="start_date">{{ start_date }}</td>
          </tr>
          <tr>
            <td>Last Edit Date</td>
            <td id="last_edit_date">{{ last_edit_date }}</td>
          </tr>
        </table>
      </div>

      <button onclick="accordion('Create')" class="w3-button w3-block w3-left-align akordiyon-buton">
        Create...</button>
      <div id="Create" class="w3-container w3-hide akordiyon-cikti  w3-show">
        <div class="grid-container">
          <div class="w3-card-4 grid-item my-below-background-color">
            <button class="w3-button w3-block akordiyon-cikti"
              onclick="window.location.href='/tts/{{ task_id }}'">TTS</button>
          </div>
          <!-- <div class="w3-card-4 grid-item my-below-background-color">
            <button class="w3-button w3-block akordiyon-cikti">Presentation</button>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  function get_status()
  {
    var xhr = new XMLHttpRequest();
    xhr.open("GET", "/check/{{ task_id }}", true);
    xhr.onload = function ()
    {
      if (xhr.readyState == 4 && (xhr.status == 200 || xhr.status == 286))
      {
        var result = JSON.parse(xhr.responseText);
        document.getElementById("input_text").innerHTML = result.input_text;
        document.getElementById("result").innerHTML = marked.parse((result.result));
        document.getElementById("start_date").innerHTML = result.start_date;
        document.getElementById("last_edit_date").innerHTML = result.last_edit_date;
      }
      if (xhr.status != 286)
      {
        setTimeout(get_status, 1000);
      }
    }
    xhr.send();
  }
  get_status();

</script>


{% endblock %}