{% extends "base.html" %}
{% block content %}

<!-- Second Grid -->
<div class="w3-row-padding my-below-background-color w3-padding-64 w3-container">
  <div class="w3-content">

    <div class="w3-center">

      <h1>Summarize Text</h1>


      <button onclick="accordion('Input')" class="w3-button w3-block w3-left-align">
        Input Text</button>

      <div id="Input" class="w3-container w3-hide">
        <p>{{ input_text }}</p>
      </div>

      <button onclick="accordion('Output')" class="w3-button w3-block w3-left-align">
        Summarized Text</button>

      <div id="Output" class="w3-container w3-hide">
        <div id="task_id" hx-get="/check_text_status/{{ task_id }}" hx-swap="innerHTML" hx-trigger="every 1s">
          <p>Task ID: <span hx-swap="innerHTML">Loading...</span></p>
        </div>
      </div>



    </div>
  </div>
</div>
{% endblock %}