{% extends "base.html" %}
{% block content %}
<!-- add remove button to right corner -->
<div class="w3-display-container w3-right">
  <button onclick="window.location.href='/remove_text/{{ task_id }}'"
    class="w3-button w3-display-topright w3-red">Delete</button>
</div>
<div class="w3-row-padding my-below-background-color w3-padding-64 w3-container">
  <div class="w3-content">

    <div class="w3-center">
      <h1>Summarize Video</h1>
      <button onclick="accordion('Input')" class="w3-button w3-block w3-left-align akordiyon-buton">
        Input Text</button>

      <div id="Input" class="w3-container w3-hide akordiyon-cikti w3-show">
        <div id="task_id" hx-get="/check_video_text_status/{{ task_id }}" hx-swap="innerHTML" hx-trigger="every 1s">
          <p><span hx-swap="innerHTML">Loading...</span></p>
        </div>
      </div>

      <button onclick="accordion('Output')" class="w3-button w3-block w3-left-align akordiyon-buton ">
        Summarized Text</button>
      <div id="Output" class="w3-container w3-hide akordiyon-cikti w3-show">
        <div id="task_id" hx-get="/check_video_status/{{ task_id }}" hx-swap="innerHTML" hx-trigger="every 1s">
          <p><span hx-swap="innerHTML">Loading...</span></p>
        </div>
      </div>

      <button onclick="accordion('Information')" class="w3-button w3-block w3-left-align akordiyon-buton">
        Information</button>
      <div id="Information" class="w3-container w3-hide akordiyon-cikti">
        <table class="w3-table">
          <tr>
            <td>Start Date</td>
            <td>{{ start_date }}</td>
          </tr>
          <tr>
            <td>Last Edit Date</td>
            <td>{{ last_edit_date }}</td>
          </tr>
        </table>
      </div>

    </div>
  </div>
</div>
{% endblock %}